streamlit
boto3
faiss-cpu
pdfplumber
PyPDF2
schedule
nest_asyncio
streamlit-authenticator
toml
pywhatkit
pyautogui
regex
phonenumbers==9.0.2
beautifulsoup4==4.12.3
mysql-connector-python==9.1.0
git-lfs
psycopg2-binary==2.9.9
pandas==2.2.2
matplotlib==3.9.0