# streamlit
# boto3
# faiss-cpu
# pdfplumber
# langchain
# langchain_community
# sentence-transformers
# schedule
# PyPDF2
# langchain_huggingface
# nest_asyncio
# transformers
# google-generativeai
#
# fastapi
# uvicorn[standard]
# googlemaps
# requests
# beautifulsoup4
# pydantic
# python-dotenv # Optional: for loading .env files

streamlit
requests
beautifulsoup4
lxml  # Required by BeautifulSoup for parsing
pandas
mysql-connector-python # For MySQL connection