streamlit
boto3
faiss-cpu
pdfplumber
langchain
langchain_community
sentence-transformers
schedule
PyPDF2
langchain_huggingface
nest_asyncio
transformers
google-generativeai

fastapi
uvicorn[standard]
googlemaps
requests
beautifulsoup4
pydantic
python-dotenv # Optional: for loading .env files
